<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css' ) }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">




    <title>ExpertD.</title>
  </head>
  <body>
  <!--========================================================== -->
                        <!-- ENCABEZADO -->
  <!--========================================================== -->
    <header class="container-fluid bg-primary d-flex justify-content-center">
        <p class="text-light mb-0 p-2 fs-6">¡VISITE NUESTRAS REDES SOCIALES @metalurgicaroma!</p>
    </header>

    <nav  class="navbar navbar-expand-lg navbar-light p-3"  id="menu">
        <div class="container">
          <a class="navbar-brand" href="#">
              <span class="fs-5 text-primary fw-bold">Roma Metalurgica</span>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#equipo"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#seccion-contacto"     >Contactanos al  1134828085   </a>
              </li>
            </ul>

          </div>

        </div>
      </nav>

    <!--========================================================== -->
                        <!-- SLIDER DE IMAGENES-->
    <!--========================================================== -->

    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="3000">
            <img src="https://scontent.faep24-1.fna.fbcdn.net/v/t1.6435-9/118765725_102983758211151_2879703922044191556_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=19026a&_nc_ohc=5DMBb65zWSgAX-VvTyX&_nc_ht=scontent.faep24-1.fna&oh=00_AfAeMaCu8hPhM-AhieYl2KA71eWac2jVJuXpwdmUs3lNCQ&oe=63FB4BB1" class="d-block w-100" alt="">
          </div>


          <div class="carousel-item" data-bs-interval="3000">
            <img src="https://scontent.faep24-1.fna.fbcdn.net/v/t31.18172-8/19054970_1907594066174453_1255949774251118299_o.jpg?_nc_cat=109&ccb=1-7&_nc_sid=cdbe9c&_nc_ohc=g1Zuv7wmj-kAX9jqn9K&_nc_ht=scontent.faep24-1.fna&oh=00_AfDae4lZgep2u2QviXMLUF8hG9zMOCxU8Jj1pCKaUMtSTw&oe=63F291DF" class="d-block w-100" alt="">
          </div>


          <div class="carousel-item" data-bs-interval="3000">
            <img src="https://scontent.faep24-1.fna.fbcdn.net/v/t39.30808-6/318436133_695434345632753_6499698800233810651_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=e3f864&_nc_ohc=NGnO01nOdcAAX_cqz9M&_nc_ht=scontent.faep24-1.fna&oh=00_AfCkijRbBkX0yCIa0Cd3BrI0cuUgPs3BHUwqszY82sWnVQ&oe=63D8B329" class="d-block w-100" alt="">
          </div>


        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel"  data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel"  data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>



    <!--========================================================== -->
                        <!-- INTRODUCCION DE SERVICIOS-->
    <!--========================================================== -->


    <section class="d-flex flex-column justify-content-center align-items-center pt-5  text-center w-50 m-auto" id="intro">
    <h1 class="p-3 fs-2 border-top border-3">¿Sabías que en Roma metalúrgica hacemos todo lo que vos necesitas? <span class="text-primary"> Trabajos Metalurgicos <span/></h1>
     <p class="p-3  fs-4">
         <span class="text-primary"></span>
     </p>
    </section>

   <!--========================================================== -->
                        <!-- TIPOS DE SERVICIOS-->
    <!--========================================================== -->


<section class="w-100">
    <div class="row w-75 mx-auto" id="servicios-fila-1">
        <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start my-5 icono-wrap">
            <img src="https://scontent.cdninstagram.com/v/t51.29350-15/223091297_153505086870043_607886241068951311_n.jpg?stp=dst-jpg_s640x640&amp;_nc_cat=101&amp;ccb=1-7&amp;_nc_sid=8ae9d6&amp;_nc_ohc=Ks3K1jH1kFIAX964BoV&amp;_nc_ht=scontent.cdninstagram.com&amp;oh=00_AfC0Qojr3CJbJx2gG1d8TPoPxo8kclBrevKVk2ssgwhwaA&amp;oe=63D9BE48" alt="desarrollo"  width="250" height="250">

            <div>
                <h3 class="fs-5 mt-4 px-4 pb-1">Productos</h3>
                <p class="px-4">Solamente tenés que contactarte con nosotros y materializamos lo que quieras</p>
            </div>

        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start  my-5 icono-wrap">
            <img src="https://scontent.faep24-1.fna.fbcdn.net/v/t31.18172-8/1614562_1393628967570968_298751453_o.jpg?_nc_cat=106&ccb=1-7&_nc_sid=e3f864&_nc_ohc=ifgGheYZ5ewAX-GCk7w&_nc_ht=scontent.faep24-1.fna&oh=00_AfCfT0rxVu6Cvonn_lumie8I7xBv0D44lVJJJkcwcXELkw&oe=63F29B40" alt="concepto" width="250" height="250">

            <div>
                <h3 class="fs-5 mt-4 px-4 pb-1 icono-wrap">Branding</h3>
                <p class="px-4">Diseño, Conceptualización e Implementación de productos a su medida</p>
            </div>
        </div>
    </div>

    <div class="row w-75 mx-auto mb-5" id="servicios-fila-2">
        <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start  my-5 icono-wrap">
            <img src="https://scontent.cdninstagram.com/v/t51.29350-15/242371839_874838419832389_4680886978336823764_n.jpg?stp=dst-jpg_s640x640&amp;_nc_cat=104&amp;ccb=1-7&amp;_nc_sid=8ae9d6&amp;_nc_ohc=-BFT7LbyOdIAX9tqebA&amp;_nc_ht=scontent.cdninstagram.com&amp;oh=00_AfCsQZIsADpW1wqDH7tVCungJZdg65eo2M2TIusxnnyBJA&amp;oe=63D8E40A" alt="comunicaciones" width="250" height="250">

            <div>
                <h3 class="fs-5 mt-4 px-4 pb-1">Trabajos</h3>
                <p class="px-4">Analizamos lo que necesita y lo realizamos con el mas minimo detalle</p>
            </div>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start my-5 icono-wrap">
            <img src="https://scontent.cdninstagram.com/v/t51.29350-15/272094272_142481014849526_6850701954329318818_n.jpg?stp=dst-jpg_s640x640&amp;_nc_cat=109&amp;ccb=1-7&amp;_nc_sid=8ae9d6&amp;_nc_ohc=X47wcWWigMUAX_XNu5W&amp;tn=ofQ_v17acvyQTLts&amp;_nc_ht=scontent.cdninstagram.com&amp;oh=00_AfD-bjZW2dO7xK2nS02i2BFES9zvrqUXlEs2-NCHZ9hmKA&amp;oe=63D87C7F" alt="seo" width="250" height="250" >

            <div>
                <h3 class="fs-5 mt-4 px-4 pb-1">SEO</h3>
                <p class="px-4">Analizamos la eficiencia y optimizamos sus necesidades</p>
            </div>
        </div>
    </div>
</section>

<!--========================================================== -->
                        <!-- SECCION ACERCA DE NOSOTROS-->
<!--========================================================== -->

<section>
    <div class="container w-50 m-auto text-center" id="equipo">
        <h1 class="mb-5 fs-2">Equipo pequeño con <span class="text-primary">grandes resultados</span>.</h1>

    </div>

    <div class="mt-5 text-center">
        <img id="img-equipo" src= "https://scontent.cdninstagram.com/v/t51.29350-15/117992348_298654094698722_1359268891585058929_n.jpg?stp=dst-jpg_s640x640&amp;_nc_cat=103&amp;ccb=1-7&amp;_nc_sid=8ae9d6&amp;_nc_ohc=PiTlNDV1K5UAX8u_x5b&amp;_nc_ht=scontent.cdninstagram.com&amp;oh=00_AfDdmmWYIwFWab8WORH8qLougf4RyBXVmdjgE2VnrEPP3w&amp;oe=63D89426" alt="equipo" >
    </div>

    <div id="local" class="border-top border-3">
        <div class="mapa"> </div> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13149.507192720363!2d-58.5325321408737!3d-34.51868042728312!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb122f55aeab7%3A0x51f24ecdd6da58c9!2sRoma%20Metalurgica!5e0!3m2!1ses!2sar!4v1674260530980!5m2!1ses!2sar" width="1000" height="1000" style="border:0;" allowfullscreen="1" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <div>
            <div class="wrapper-local">
                <h2>Ubicados en Munro, Buenos aires</h2>
                <h2 class="text-primary mb-4" id="typewriter"></h2>
                <p class="fs-5 text-body"></p>
                <section class="d-flex justify-content-start" id="numeros-local">
                     <div>
                    </div>
              </section>
            </div>
        </div>
    </div>

</section>



<!--========================================================== -->
                        <!-- SECCION CONTACTOS-->
<!--========================================================== -->




<!--========================================================== -->
                      <!-- CONTENEDOR DEL FORMULARIO -->
<!--========================================================== -->






<!--========================================================== -->
                        <!--FOOTER-->
<!--========================================================== -->


<footer class="w-100  d-flex  align-items-center justify-content-center flex-wrap">
  <p class="fs-5 px-3  pt-3">Roma Metalurgica
  <div id="iconos" >
      <a href="#"><i class="bi bi-facebook"></i></a>
      <a href="#"><i class="bi bi-twitter"></i></a>
      <a href="#"><i class="bi bi-instagram"></i></a>
  </div>
</footer>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
    <script src="static/main.js"></script>
  </body>
</html>